.container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

// Margin classes
.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}
