.tabs {
  .indicator {
    background-color: #0097a7 !important;
  }

  .tab a {
    color: #0097a7 !important;

    &:hover,
    .active {
      color: #0097a7 !important;
    }

    &:focus,
    &:focus.active {
      background-color: rgba(0, 151, 167, 0.1) !important;
    }
  }
}
