// This file holds all your SASS variables.

// -- FONTS -- //
$font-stack--heading: "Arbutus Slab", serif;
$font-stack--body: "Open Sans", sans-serif;

$font-stack--code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
